@model MillionaireQuiz.Models.QuestionViewModel


<div class="text-center">
    <h2>Your reward: @Model.RewardCurrent $ !!</h2>


    <div class="row-cols-lg-4">
        <button type="button" class="btn btn-primary">
            <a class="nav-link text-dark" asp-area=""  asp-action="Start">New Quiz</a>
        </button>
    </div>

</div>