@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Who Wants to Be a Millionaire?</h1>
    <p>Press the button to start the quiz</p>


    <div class="row-cols-lg-4">
        <button type="button" class="btn btn-primary">
            <a class="nav-link text-dark" asp-area=""  asp-action="Index">Start</a>
        </button>
    </div>
</div>